<footer>
    <div class="container-fluid bg-dark shadow-5 py-3">
        <p class="text-center text-white small">All Logos and trademarks belongs to their respective owners.</p>
        <div class="d-flex justify-content-center">
            <a href="https://www.github.com/iamavishkar/" class="btn btn-outline-danger btn-sm">GitHub</a>
            <span class="mx-5"></span>
            <a href="https://www.linkedin.com/iamavishkar/" class="btn btn-outline-primary btn-sm">LinkedIn</a>
            <span class="mx-5"></span>
            <a href="https://www.hackerrank.com/iamavishkar/" class="btn btn-outline-success btn-sm">HackerRank</a>
        </div>
    </div>
</footer>